body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  overflow-x: auto;
  overflow-y: scroll;
}
header {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

/* .container {
  color: darkgreen;
  font-size: 10rem;
}

.center {
  text-align: center;
}

.sections {
  background-color: rgb(15, 75, 15);
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  color: rgb(15, 75, 15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 50px;
}

.image {
  flex-basis: 95%;
  background-position: left top;
  margin-right: 50px;
  margin-top: 2px;
  background-image: url("image/foodParcels.jpg");
}

.image img {
  max-width: 100%;
  height: auto;
}

.content {
  flex-basis: 40%;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

button {
  background-color: rgb(15, 75, 15);
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: rgb(15, 75, 15);
  border: 2px solid rgb(15, 75, 15);
} */

body,
html {
  height: 100%;
}

.exp-img {
  background-image: url("image/export.jpg");
  height: fit-content;

  /* Control the height of the image */
  min-height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px;
  margin-bottom: 50px;
  box-sizing: border-box;
  background-attachment: fixed;
  min-height: 100%;
}

.wholesale-img {
  background-image: url("image/wholesale.jpeg");
  height: fit-content;

  /* Control the height of the image */
  min-height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px;
  margin-bottom: 50px;
  box-sizing: border-box;
  background-attachment: fixed;
  min-height: 650px;
}

.parcel-img {
  background-image: url("image/foodParcels.jpg");
  height: fit-content;

  /* Control the height of the image */
  min-height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px;
  margin-bottom: 50px;
  box-sizing: border-box;
  background-attachment: fixed;
  min-height: 640px;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  text-align: center;
  max-width: 400px;
  min-height: 500px;
  padding: 30px;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Gambetta", serif;
  letter-spacing: -1px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: rgb(43, 135, 16);
  outline: none;
  text-align: center;
  font-weight: bold;
}
.container h2:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}

.container p {
  font-family: "Gambetta", serif;
  font-size: 17px;
  font-weight: bold;
}
.btn {
  display: inline-block;
  background-color: rgb(43, 135, 16);
  border-radius: 999px;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn:focus {
  outline: none;
}

.btn:active {
  background-color: #433bde;
}

/* .btn {
  background-color: rgb(43, 135, 16);
  color: white;
  font-family: "Gambetta", serif;
  font-size: 17px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
  border: 10px;
  border-color: black;
} */

.bestSellers {
  display: flex;
  margin-inline: auto;
}

.card {
  flex-basis: 150px;
  flex-grow: 0;
  overflow: hidden;
  transition: flex-grow 0.2s ease;
}

.card img {
  object-fit: cover;
  filter: grayscale(1);
  height: 500px;
}

.card:hover {
  flex-grow: 9999;
}

.card:hover img {
  filter: none;
}
