body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  overflow-x: auto;
  overflow-y: scroll;
}
header {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

.container {
  color: darkgreen;
  font-size: 10rem;
}

.center {
  text-align: center;
}

.sections {
  background-color: rgb(15, 75, 15);
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  color: rgb(15, 75, 15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 50px;
}

.image {
  flex-basis: 50%;
}

.image img {
  max-width: 100%;
  height: auto;
}

.content {
  flex-basis: 40%;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

button {
  background-color: rgb(15, 75, 15);
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: rgb(15, 75, 15);
  border: 2px solid rgb(15, 75, 15);
}

.bestSellers {
  display: flex;
  margin-inline: auto;
}

.card {
  flex-basis: 150px;
  flex-grow: 0;
  overflow: hidden;
  transition: flex-grow 0.2s ease;
}

.card img {
  object-fit: cover;
  filter: grayscale(1);
  height: 500px;
}

.card:hover {
  flex-grow: 9999;
}

.card:hover img {
  filter: none;
}
